@font-face {
	font-family: 'Clear Sans', 'Arial', sans-serif;
	src: url('fonts/ClearSans-Bold.ttf');
}

@font-face {
	font-family: 'Clear Sans', 'Arial', sans-serif;
	src: url('fonts/ClearSans-Regular.ttf');
}
