:root {
	--container-width: 1200px;
	--container-padding: 15px;

	// --font-main: 'Roboto', 'Arial', sans-serif;
	// --font-accent: 'Playfair Display', serif;

	--color-page-bg: #FFEDE1;
	// --color-text: #ffffff;
	--color-green: #449583;
	--color-orange: #FA7100;
	// --color-main: #2b4074;
	// --color-secondary: #f7f2ea;
	// --color-descr: #9b9b9b;

	--laptop-size: 1199px;
	--tablet-size: 959px;
	--mobile-size: 599px;
}

// $color-secondary: #f9f6e5;

$laptop-size: 1199px;
$tablet-size: 959px;
$mobile-size: 599px;

.dark {
	--page-bg-color: #252526;
	--text-color: #fff;
}

%font-clear-sans-400 {
	font: {
		family: 'Clear Sans';
		weight: 400;
		style: normal;
	}
}

%font-clear-sans-700 {
	font: {
		family: 'Clear Sans';
		weight: 700;
		style: normal;
	}
}

%green-item-style {
	border: var(--color-green) 3px solid;
	background-color: var(--color-green);
	color: var(--color-page-bg);
	text-transform: uppercase;
	padding: 8px 16px;
	border-radius: 14px;
	font: {
		family: 'Clear Sans';
		weight: 700;
		style: normal;
		size: 18px;
	}
}

%whige-item-style {
	border: var(--color-green) 3px solid;
	background-color: var(--color-page-bg);
	color: var(--color-green);
	text-transform: uppercase;
	padding: 8px 16px;
	border-radius: 14px;
	font: {
		family: 'Clear Sans';
		weight: 700;
		style: normal;
		size: 18px;
	}
}
