:root {
	--container-width: 1200px;
	--container-padding: 15px;

	// --font-main: 'Roboto', 'Arial', sans-serif;
	// --font-accent: 'Playfair Display', serif;

	--color-page-bg: #ffece1;
	// --color-text: #ffffff;
	--color-green: #649483;
	--color-orange: #dd7017;
	// --color-main: #2b4074;
	// --color-secondary: #f7f2ea;
	// --color-descr: #9b9b9b;

	--laptop-size: 1199px;
	--tablet-size: 959px;
	--mobile-size: 599px;
}

$color-secondary: #f9f6e5;

$laptop-size: 1199px;
$tablet-size: 959px;
$mobile-size: 599px;

.dark {
	--page-bg-color: #252526;
	--text-color: #fff;
}

%font-clear-sans-400 {
	font: {
		family: 'Clear Sans';
		weight: 400;
		style: normal;
	}
}

%font-clear-sans-700 {
	font: {
		family: 'Clear Sans';
		weight: 700;
		style: normal;
	}
}
