.footer {
	padding: 0;
	background-color: #022e21;
	&__container {
		padding: 60px 20px 20px;
		max-width: 1200px;
		margin: 0 auto;
	}
	&__main-block {
		display: flex;
		justify-content: space-between;
		margin-bottom: 50px;
		gap: 0 20px;
	}
	&__bottom-block {
		align-items: center;
		display: flex;
		justify-content: center;
	}
	&__copyright {
		@extend %font-open-sans-300;
		font-size: 16px;
	}
}
