.love-plans {
	&__container {
		column-gap: 68px;
		margin: 170px auto;
		display: flex;
		position: relative;
		max-width: 1200px;
		align-items: center;
		// padding:  0 15px;
	}
	&__title-block {
	}
	&__title {
		color: var(--color-orange);
	}
	&__descr {
		color: var(--color-green);
		margin-bottom: 30px;
	}
	&__btns {
		display: flex;
	}
	&__image-block {
		flex-shrink: 0;
		position: relative;
	}
	&__img {	

	}
	&__image-container {
		position: relative;

	}
	&__subtitle-link {
	}
	&__sideblock {
		border-radius: 28px 0 0 28px;
		position: absolute;
		top: 0;
		bottom: 0;

		right: calc((100vw - 1200px) / (-2) + 9px );
		background-color: var(--color-orange);
		width: calc((100vw - 1200px) / 2 + 290px);
		margin-top: -211px;
		margin-bottom: -211px;
	}
	&__subtitle {
		margin-top: 23px;
		color: var(--color-page-bg);

	}
	&__sideblock-content {
		max-width: 300px;
		display: flex;
		flex-direction: column;
		align-items: end;
		text-align: right;
		margin: 70px auto 0 50px;
		// padding: 0 20px;
	}
	&__sideblock-content-link {
	}
}

.svg-bg--bg-Shape-recipes-4-dims {
	position: absolute;
	left: -900px;
	bottom: -550px;
	max-width: 2000px;
	// max-height: 2000px;
	z-index: -1;
}
.title {
}
.descr {
}
.start-link {
}
.start {
}
.learn-link {
}
.learn {
}
.svg-icons--arrow-dims {
	// z-index: 5;
}
