.reviews {
	background-color: var(--color-green);
	&__container {
		padding: 100px 0;
		color: var(--color-page-bg);
	}
	&__title {
		margin-bottom: 85px;
	}
	&__list {
		display: flex;
		column-gap: 80px;
		text-align: center;
	}
	&__item {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	&__img {
		margin-bottom: 30px;
	}
	&__name {
		font-size: 18px;
		text-transform: uppercase;
		margin-bottom: 18px;
	}
	&__text {
	}
}
