.worry-free {
	&__container {
		column-gap: 100px;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
	}
	&__image-block {
		margin-left: 60px;
		text-align: center;
	}
	&__img {
		z-index: 20;
		margin-top: 147px;
		margin-bottom: 33px;
	}
	&__img-title {
		color: var(--color-green);
		@extend %font-clear-sans-700;
		margin-bottom: 13px;
	}
	&__img-descr {
		color: var(--color-green);
		font-size: 15px;
		text-transform: capitalize;
		margin: 0 auto 74px;
		max-width: 400px;
	}
	&__title {
		color: var(--color-orange);
		max-width: 500px;
	}
}

.title-block {
	margin-top: -200px;
	max-width: 50%;
	&__btns {
		@extend %font-clear-sans-700;
		display: flex;
		text-transform: uppercase;
		font-size: 18px;
		margin-bottom: 74px;
	}
	&__slider {
		position: absolute;
		right: 0;
		left: calc(50% + 115px);
		background-color: var(--color-orange);

		border-radius: 28px 0 0 28px;
		padding: 20px 40px 24px 20px;
		color: var(--color-page-bg);
		display: flex;
	}
	&__slider-descr {
		text-transform: uppercase;
		writing-mode: vertical-rl;
		transform: rotate(-180deg);
		text-align: center;
		margin-right: 30px;
	}
	&__slider-list {
		display: flex;
		justify-content: space-between;
	}
	&__slider-item {
		font-size: 12px;
		text-transform: capitalize;
		text-align: center;
		width: 100%;
	}
	&__slider-item-img {
	}
	&__slider-item-text {
		max-width: 110px;
	}
	&__slider-next-btn {
		margin-left: 35px;
	}
	&__next-btn-img {
	}
}
.start-link {
	color: var(--color-page-bg);
}
.start {
	background-color: var(--color-green);
	border-radius: 14px;
	padding: 8px 14px;
	border: var(--color-green) 3px solid;
	margin-right: 20px;
}
.learn-link {
}
.learn {
	color: var(--color-green);
	border: var(--color-green) 3px solid;
	border-radius: 14px;
	padding: 8px 14px;
}
.svg-bg--bg-Shape-1-dims {
	position: absolute;
	left: 0px;
	top: -300px;
	max-width: 1400px;
	max-height: 1200px;
	z-index: -1;
}
.svg-bg--bg-Shape-2-dims {
	position: absolute;
	right: 0px;
	bottom: -50px;
	max-width: 500px;
	z-index: -1;
}
