.worry-free {
	&__container {
	}
	&__image-block {
	}
	&__img {
	}
	&__img-title {
		color: var(--color-green);
		@extend %font-clear-sans-700;
	}
	&__img-descr {color: var(--color-green);font-size: 15px;
	}
	&__title {
		color: var(--color-orange);
	}
}

.title-block {
	&__btns {
		@extend %font-clear-sans-700;
		display: flex;
		text-transform: uppercase;
		font-size: 18px;
		margin-bottom: 74px;
	}
	&__slider {
		background-color: var(--color-orange);
		margin-right: -15px;
		border-radius: 28px 0 0 28px;
		padding: 20px 60px 24px 30px;
		color: var(--color-page-bg);
		display: flex;
		text-orientation: sideways;
	}
	&__slider-descr {
		text-transform: uppercase;
		writing-mode: vertical-rl;
		transform: rotate(-180deg);
		text-align: center;
	}
	&__slider-list {
		display: flex;
		justify-content: space-between;
	}
	&__slider-item {
	}
	&__slider-item-img {
	}
	&__slider-item-text {
	}
	&__slider-next-btn {
	}
	&__next-btn-img {
	}
}

.start-link {
	color: var(--color-page-bg);
}
.start {
	background-color: var(--color-green);
	border-radius: 14px;
	padding: 8px 14px;
	border: var(--color-green) 3px solid;
	margin-right: 20px;
}
.learn-link {
}
.learn {
	color: var(--color-green);
	border: var(--color-green) 3px solid;
	border-radius: 14px;
	padding: 8px 14px;
}
